@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

:root {
  --primary: #389393;
  --secondary: #ffff;
  --tertiary: #fa7f72;
  --quatrinary: #6c6b67;
  --light: #ebebeb;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: rgb(227, 239, 255);
}

header {
  padding: 60px;
  text-align: center;
  background-image: linear-gradient(#5de0e6, #004aad);
  color: var(--secondary);
  border-bottom-style: solid;
}

/* main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 50px;
} */

.container {
  max-width: 100%;
}

.login- {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
  max-width: 334px;
  justify-content: center;
  align-content: center;
}

.thanks-message {
  text-align: center;
  font-weight: bold;
}

.row {
  justify-content: center;
}

.search-bar {
  display: flex;
  text-align: center;
  padding: 20px;
}

.save-delete-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;

}

.word-info {
  width: 600px;
}

.vocab-vault {
  width: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.word-input {
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  height: 70px;
  width: 800px;
  font-size: x-large;
}

.save-button {
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  max-width: 200px;
}

.word-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* justify-content: space-between; */
  /* column-gap: 20px; */
  background-color: white;
  margin: 2px;
  border-radius: 16px;
  max-height: 75px;

  padding: 25px;
}

.saved-word {
  margin-right: 4px;
}

.clear-btn {
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 200px;
}

.delete-button {
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 9px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 4px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 50px;
}

.logout-button {
  float: right;
}

.button-2 {
  padding: 10;
}

.info-box {
  background-color: rgb(225, 235, 251);
  /* padding: 10px; */
  width: 45%;;
  /* min-width: 400px;
  height: 400px; */
  word-wrap: normal;
  /* overflow: scroll; */
}

h3 {
  color: #004aad;
}

p {
  color: rgb(29, 144, 239);
}
aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--light);
}

nav {
  display: flex;
  background-color: var(--secondary);
}



